@font-face {
    font-family: "Varela Round";
    src: url(fonts/VarelaRound-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0080aa, #00d06c);
    font-family: "Varela Round", sans-serif;
    font-weight: normal;
}

.main-container {
    box-sizing: content-box;
    background-color: rgb(255,255,255,0.5);
    width: 310px;
    padding: 14px;
    border-radius: 5px;
}

.display {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    background-color: rgb(255,255,255);
    max-width: 100%;
    height: 70px;
    padding: 8px;
    font-size: 30px;
    border-radius: 5px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.calc-button, .calc-button-op {
    flex-basis: 70px;
    height: 65px;
    font-family: inherit;
    font-size: 26px;
    border: 0;
    background-color: rgb(255,255,255,0.75);
    border-radius: 5px;
}

.calc-button-op {
    background-color: rgb(255, 128, 31);
}

.calc-button:hover {
    background-color: rgb(255,255,255);
}

.calc-button-op:hover {
    background-color: rgb(250, 153, 63);
}

.double {
    flex-basis: 150px;
}

.triple {
    flex-basis: 230px;
}